<button
  class="erp-form-subgroup__header"
  type="button"
  [attr.aria-expanded]="open()"
  (click)="toggled.emit()"
>
  <span>
    <strong>{{ title() }}</strong>
    @if (description()) {
      <small>{{ description() }}</small>
    }
  </span>
  <span class="erp-form-subgroup__meta">
    @if (complete()) {
      <svg lucideCheck size="16" aria-hidden="true"></svg>
      Complete
    } @else if (remainingRequired()) {
      <svg lucideAlertTriangle size="15" aria-hidden="true"></svg>
      {{ remainingRequired() }} required remaining
    } @else if (requiredCount()) {
      {{ requiredCount() }} required
    } @else {
      {{ fieldCount() }} fields
    }
    <svg lucideChevronDown size="17" aria-hidden="true"></svg>
  </span>
</button>

@if (open()) {
  <div class="erp-form-subgroup__body">
    <ng-content />
  </div>
}
